body{
    background-color: #12100E;
}
.head{
    width: 100%;
    height: 100px;
    background-color:#12100E;
    color: #E8E288;
    font-size: 25px;
    font-family:cursive;
    border: 2px solid #FBFFB9;
    border-bottom: 0px;
}
.head h1{
    position: relative;
    left: 30px;
    bottom: 15px;
}
.menu{
    border: #FBFFB9 2px solid;
    width: 100%;
    height: 30px;
    background-color: #FBFFB9;
}
.menu ul{
    display: inline;
}
.menu li{
    display: inline;
    padding-left: 80px;
    padding-right: 80px
}
.menu a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #12100E;
    text-decoration: none;
    padding-top: 5px;
}


.menu a:hover{
    color:red;
    text-decoration: red underline;
}
.container{
    width:100%;
    height:300px;
    background-image: url("cookes.jpg");
    background-size:cover;
    background-position: 100%;
}
.container h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px;
    text-align: center;
    position: relative;
    font-size:50px;
    top: 140px;
    color: #ffffff;
}
.container p{
    color:white;
    position: relative;
    left: 200px;
    width: 300px;
    bottom: 20px;
    font-size:xx-large;
    font-style:italic;
}
.footer{
    border:2px solid #E8E288;
    width: 100%;
    height:100px;
    background-color: #12100E;
    color: #FBFFB9;
    font-size: 25px;
    font-family:cursive;
}
.footer h1{
    position: relative;
    left: 30px;
    bottom: 15px;
}
.footer h1 a{
    text-decoration: none;
    color: #E8E288;
    float: left;
}
.footer h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    position: relative;
    right: 10px;
}
.content{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}